header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
}

h1 span {
  display: inline-block;
}

h1 {
  margin: 1rem 1rem 0;
  font-size: 2rem;
}

#scoreboard {
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  margin: 1em;
  color: blue;
  padding: 0 3rem;
  align-self: stretch;
}

#scoreboard > * {
  margin: 0.5rem;
}

@media only screen and (min-width: 750px) {
  header {
    flex-direction: row;
  }

  h1 {
    margin: 0 0 0 3rem;
    font-size: 3rem;
  }

  #scoreboard > * {
    margin-left: 0;
    margin-right: 0;
  }
}
