.App {
  text-align: center;

  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  background-color: green;
  height: 100%;
}

main:after {
  content: "";
  display: block;
  padding-left: 100%;
}
