.App {
  text-align: center;

  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main {
  max-height: 100%;
  overflow: hidden;
}

/* main:after {
  content: "";
  display: block;
  padding-left: 100%;
} */
